<tr>
  <td><%= ticket.customer_name %></td>
  <td><%= ticket.customer_address %></td>
  <td><%= ticket.customer_phone_number %></td>
  <td>
    <%= link_to 'View', ticket_path(ticket) %>
    <%= link_to 'Edit', edit_ticket_path(ticket) %>
    <%= link_to 'Delete', ticket_path(ticket), method: :delete,
    data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
